
/* config geral */

html , body, ul, li, p
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Century Gothic';
	list-style: none;
	font-size: 1.2rem;

}

img
{
	display: block;
	max-width: 100%;

}


/* cabecalho */

.header 
{
	display: flex;
	padding: 20px;

	background-color: #423a3a;
	color: #ebae34;

	justify-content: space-between;
	text-align: center;
	align-items: center;

	margin: 0px;
}

.menu
{
	display: flex;
}

.menu li , label
{
	margin: .4em;
	transition: .5s;
}

.menu li:hover 
{
	transition: .5s;
	transform: scale(1.3);
	cursor: pointer;
}


.menu li a
{
	display: block;
	padding: 20px;

}

/* corpo */

/* css flexbox */

.corpo
{
	margin: 0px;
	background-color: #ebae34;
	padding-top: 100px;
	padding-bottom: 50px;

}

.corpo > h1 
{
	font-size: 3rem;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.corpo > .subtitulo
{
	margin-top: 0px;
	text-align: center; 
	margin-bottom: 50px;
	font-weight: bold;
}

.flex
{
	display: flex;
	flex-wrap: wrap;
	max-width: 80%;
	text-align: center;
	margin: 0% auto;
}

.flex > .foto
{
	border: 2px solid black;
	margin: 10px;
	flex: 1 1 30% ;
	position: relative;
	overflow: hidden;

}

.flex > .foto:before
{
	content: '';
	display: block;
	position: absolute;
	background-color: white;
	width: 100%;
	height: 00%;
	z-index: 0;
	transition: .5s;
}

.flex > .foto:hover:before
{
	height: 100%;
	transition: .5s;
	z-index: 1;

	content: '';
}




/* css grid */

